/* Lane styles */
.AddLane {
  padding: 10px;
  margin-bottom: 50px;
}
.appDiv {
  text-align: center;
}
.lanes {
  display: flex;
  justify-content: space-around;

}
.Lane {
  padding: 20px;
  background-color: #fff;
  border: 1px solid;
  width: 200px;
  position: relative;
}
.LaneDelete {
  position: absolute;
  right: 0;
  top: 0;
}
.LaneDelete button {
  background-color: transparent;
  border: none;
  padding: 5px;
  font-weight: bold;
}
.LaneDelete button:hover {
  color: #03A9F4;
  cursor: pointer;
}
.LaneName, .LaneAddNote {
  margin-bottom: 20px;
}
.LaneAddNote button {
  padding: 10px;
}
.LaneName {
  height: 21px;
}
.LaneName:hover {
  cursor: pointer;
  color: #03A9F4;
}