/* Note styles */
.Note {
  padding: 5px;
}
.notes li {
  list-style-type: none;
  border: 1px solid;
  margin-bottom: 10px;
  text-align: left;
  position: relative;
}
.notes li button {
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  background-color: transparent;
}
.notes li button:hover {
  cursor: pointer;
  color: #03A9F4;
}
.notes input {
  max-width: 100%;
}